<div class="wrapper rounded shadow bg-white">
  <h1 class="title-tasks">{{selectedDate | date:'dd/MM/yyyy'}}</h1><br>
  <ul class="list-group">
      <li *ngFor="let task of tasks" class="list-group-item">
          <input type="checkbox" [checked]="task.completed" (click)="handleToggleTaskCompleted(task)">
          <span class="task-name">{{task.name}}</span>
      </li>
  </ul>
  <br>
  <form>
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Task" name="task-name" #taskName (keydown.enter)="handleTypeEnterAddTask(taskName.value); taskName.value = ''">
          <div class="input-group-append"><button class="btn btn-outline-secondary" type="button" (click)="handleClickAddTask(taskName.value); taskName.value = ''">Add</button></div>
      </div>
  </form>
</div>